/* scrollbar */
::-webkit-scrollbar-track {
    background-color: #1c1d26;
}
::-webkit-scrollbar {
    width: 12px;
    background: #1c1d26;
}
::-webkit-scrollbar-thumb {
    background: rgba(4, 211, 97, 0.4);
    border-radius: .8rem;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 211, 97);
}
::-webkit-scrollbar-button {
    scrollbar-arrow-color: black;
}

.page-minecraft-content {
    width: 99vw;
    background: url(../../images/bg-body.png);
}

.page-minecraft-content .link-color-green {
    color: #84c94c;
}

.page-minecraft-content .card {
    background-color: rgba(0, 0, 0, 0.65);
}

/* navbar */
.page-minecraft-content .navbar {
    background: url(../../images/bg-body.png);

    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    z-index: 200;

    padding: .9rem 5.5rem;

    box-shadow: 0px 5px 8px rgba(0, 0, 0);

    font-size: 1.2rem;

    display: flex !important;
    justify-content: space-between !important;
}

.page-minecraft-content .navbar .navbar-content-init .navbar-brand {
    width: 278px;
}

.page-minecraft-content .navbar .navbar-content-init .navbar-brand img {
    width: 95%;
}

.page-minecraft-content .navbar .collapse .navbar-nav li {
    display: flex;
    align-items: center;
}

.page-minecraft-content .navbar .collapse .navbar-nav li+li {
    padding-left: 4.5rem;
}

.page-minecraft-content .navbar .collapse .navbar-nav .active .nav-link img {
    transition: .6s ease-in;
    margin-right: -10px;
    margin-top: -10px;
    margin-right: .3px;
}

.page-minecraft-content .navbar .collapse .navbar-nav .nav-link .fa-arrow-right {
    -webkit-animation: right-left 1s ease-in-out infinite alternate-reverse both;
    animation: right-left 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes right-left {
    0% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(11px);
    }
}

@keyframes right-left {
    0% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(11px);
    }
}

.page-minecraft-content .navbar .collapse .navbar-nav li a {
    transition: .2s;
}

.page-minecraft-content .navbar .collapse .navbar-nav li a:hover {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #84c94c;
}

.page-minecraft-content .navbar .collapse .navbar-nav .dropdown:hover {
    cursor: pointer;
}

.page-minecraft-content .navbar .collapse .navbar-nav .dropdown:hover a {
    color: #84c94c;
    cursor: pointer;
}

.page-minecraft-content .navbar .collapse .navbar-nav .dropdown .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.85);
}

.page-minecraft-content .navbar .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    color: #aea4a2 !important;
}

.page-minecraft-content .navbar .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 992px) {
    .page-minecraft-content .navbar .navbar-content-init {
        display: flex !important;
        justify-content: space-between !important;
    
        width: 100%;
    }
}

@media (max-width: 850px) {
    .page-minecraft-content .navbar {
        padding: 0.7rem 1rem;
    }

    .page-minecraft-content .navbar .collapse .navbar-nav li+li {
        padding-left: 0;
    }
}

@media (max-width: 600px) {
    .page-minecraft-content .navbar {
        background-size: 50%;
    }

    .page-minecraft-content .navbar .navbar-content-init .navbar-brand {
        width: 237px;
    }

    .page-minecraft-content .navbar .navbar-content-init .navbar-brand img {
        width: 85%;
    }

    .page-minecraft-content .caousel-main {
        margin-top: 2rem;
    }
}

@media (max-width: 380px) {
    .page-minecraft-content .navbar .navbar-content-init .navbar-brand {
        width: 180px;
    }

    .page-minecraft-content .container-page {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .page-minecraft-content .container-page .card {
        margin-left: 0 !important;
    }
}

@media (max-width: 310px) {
    .page-minecraft-content .navbar {
        background-size: 100%;
    }

    .page-minecraft-content .navbar .navbar-content-init .navbar-brand {
        width: 150px;
    }

    .page-minecraft-content .navbar .navbar-content-init .navbar-brand img {
        width: 70%;
    }

    .page-minecraft-content .caousel-main {
        margin-top: 4rem;
    }
}

/* CAROUSEL */
.page-minecraft-content .caousel-main {
    background-color: black;

    margin-top: 3.5rem;
}

.page-minecraft-content .caousel-main .carousel {
    width: 81%;

    margin: auto;
    text-align: center;
}

.page-minecraft-content .caousel-main .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 1.9rem;
    font-weight: 800;
}

.page-minecraft-content .caousel-main .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 1.1rem;
}

/* CONTENT */
.page-minecraft-content .container-page {
    width: 100%;

    margin-top: 4rem;
}

.page-minecraft-content .container-page .card {
    margin-left: 3rem;
}

/* game-container */
.page-minecraft-content .game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-minecraft-content .game-container {
    padding: 0 9rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;

    color: rgb(220, 223, 250);
}

@media (max-width: 620px) {
    .page-minecraft-content .game-container {
        padding: 0;
    }
}

.page-minecraft-content .game-container .img-fluid {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.page-minecraft-content .game-container .img-fluid:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* community-stream-container */
.page-minecraft-content .community-stream-container {
    padding: 4rem 11.5rem;
}

@media (max-width: 880px) {
    .page-minecraft-content .community-stream-container {
        padding: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.page-minecraft-content .community-stream-container .card-main {
    background-color: #1c1d26 !important;
    border: 1px solid rgba(0, 0, 0, 0.125);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.65);
}

.page-minecraft-content .community-stream-container .card-main .card-center {
    display: flex;

    margin: 1rem 0;
}

.page-minecraft-content .community-stream-container .card-main .card-center .space-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-minecraft-content .community-stream-container .card-main .card-center .space-items .btn {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0;
    border: thin;

    -webkit-box-shadow: 0 -4px rgba(27, 110, 7, 0.5) inset, 0 4px rgba(97, 238, 32, 0.99) inset, -4px 0 rgba(100,253,31,.5) inset, 4px 0 rgba(21,108,0,.5) inset;
    box-shadow: 0 -4px rgba(21,108,0,.5) inset, 0 4px rgba(100,253,31,.99) inset, -4px 0 rgba(100,253,31,.5) inset, 4px 0 rgba(21,108,0,.5) inset;

    transition: all .2s;

    z-index: 1000;
}

.page-minecraft-content .community-stream-container .card-main .card-center .space-items .prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 25%;
}

.page-minecraft-content .community-stream-container .card-main .card-center .space-items .next {
    position: absolute;
    top: calc(50% - 25px);
    right: 25%;
}

.page-minecraft-content .community-stream-container .card-main .card-center .space-items .btn:hover {
    -webkit-box-shadow: 0 -4px rgba(27, 110, 7, 0.5) inset, 0 4px rgba(97, 238, 32, 0.99) inset, -4px 0 rgba(100,253,31,.5) inset, 4px 0 rgba(21,108,0,.5) inset;
    box-shadow: 0 -4px rgba(15, 70, 2, 0.5) inset, 0 4px rgba(40, 167, 70, 0.99) inset, -4px 0 rgba(40, 167, 70, 0.5) inset, 4px 0 rgba(15, 70, 2, 0.5) inset;
}

.page-minecraft-content .community-stream-container .card-main .card-center .card {
    cursor: pointer;
    transition: .2s;
}

.page-minecraft-content .community-stream-container .card-main .card-center .card:hover {
    border-color: #84c94c;
}

/* footer */
.page-minecraft-content .page-footer {
    background-color:#0a0a0d;
}

.page-minecraft-content .page-footer .container a {
    color: white;
}

.page-minecraft-content .page-footer .footer-copyright {
    background-color: #17181f;
    color: rgba(255,255,255,0.6);
}

.page-minecraft-content .page-footer .container .btn-outline-white {
    color: white;
    border-radius: 10em;
    border: 2px solid white;
    padding: 10px 30px;
}